<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Title</title>
    <meta name="author" content="Marcos Oliveira da Silva">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div th:replace="fragmentos/fragmentos :: header"></div>

   <section class="neo-section">
    <div class="sombra">    </div>
       <div class=" center neo-container"> 
           <h1>Sistema de Gerenciamento de Alunos</h1>
       
        <div class="wm">
            <button class="btn btn-primary">CADASTRAR ALUNO</button>
        </div>
        <div class="wm">
            <button class="btn btn-primary">LISTAR ALUNO</button>
        </div>
        <div class="clear"></div>
    </div>
   </section>


    <div th:replace="fragmentos/fragmentos :: footer"></div>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" ></script>
</body>
</html>